mixin createPostForm(currentUser)
    .postFormContainer
        .userImageContainer
            img(src=currentUser.avatar, alt="user's avatar")
        .textareaContainer
            textarea#postTextarea(placeholder="what's happening?")
            .buttonsContainer
                button#submitPostButton(disabled="") 发布

mixin createReplyModal(currentUser)
    #replyModal.modal.fade(tabindex='-1' aria-labelledby='replyModal' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#replyModal.modal-title 消息回复
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer
                            img(src=currentUser.avatar, alt="user's avatar")
                        .textareaContainer
                            textarea#replyTextarea(placeholder="what's happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') 关闭
                    button#submitReplyButton.btn.btn-primary(type='button' disabled="") 回复

mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1' aria-labelledby='deletePostModal' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#deletePostModal.modal-title 消息删除
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    p 确定删除该条消息吗？
                .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') 关闭
                    button#deletePostButton.btn.btn-primary(type='button') 删除

mixin createPostModals(currentUser)
    +createReplyModal(currentUser)
    +createDeletePostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "已关注" : "关注"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name} 
